@import url("./normalize.css");
@import url("./fonts.css");

:root {
  --color-light-text: #e4e5ea;
  --color-black: #0e1014;
  --color-yellow: #fcb045;
  --color-pink: #ff3f78;
  --color-red: #fd1d1d;
  --color-dark-grey: #656566;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--color-black);
  color: var(--color-light-text);

  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 17px;

  position: relative;
}

.container {
  margin: 0 5%;
}

/* Header */
.header {
  min-height: 55px;

  display: flex;
  align-items: center;

  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-black);
}

.header .container {
  width: 90%;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  font-family: "Inter-Medium";
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;
}

/* Main */
.main {
  overflow: hidden;

  margin-top: 55px;
  padding: 40px 0 59px;
  max-width: 445px;

  background-image: url("../assets/noise.png"),
    radial-gradient(
      238.53% 189.02% at 3.2% 3.49%,
      rgba(255, 246, 233, 0.1) 0%,
      rgba(26, 29, 35, 0.1) 26.62%,
      rgba(26, 29, 35, 0.1) 52.1%,
      rgba(26, 29, 35, 0.01) 70.17%,
      rgba(26, 29, 35, 0) 100%
    );

  backdrop-filter: blur(7.5px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__header {
  margin-bottom: 46px;
}

.main__header-title {
  margin-bottom: 15px;
}

.main__header-title-text {
  font-size: 36px;
  line-height: 44px;

  margin-left: -2px;
}

.main__header-title-text span {
  margin-left: 1px;

  font-family: "Inter-Black";
  background: linear-gradient(
      92deg,
      var(--color-yellow) 27.14%,
      var(--color-pink) 121.36%
    ),
    var(--color-light-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /*text-fill-color: transparent;*/
}

.main__header-text {
  margin-left: -2px;

  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 22px;
}

.main__offer {
  margin-left: -1px;
}

.offer__text {
  font-size: 18px;
  line-height: 22px;

  margin-bottom: 20px;
}

.offer__text span {
  font-family: "Inter-Bold";
  font-size: 18px;
  line-height: 22px;

  background: linear-gradient(
    90deg,
    var(--color-yellow) 36.99%,
    var(--color-red) 100%
  );

  background: linear-gradient(
    90deg,
    var(--color-yellow) 36.99%,
    var(--color-red) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /*text-fill-color: transparent;*/
}

.offer__list {
  display: grid;
  row-gap: 15px;
  grid-template-columns: 0.76fr 1fr;

  margin-left: 1px;
}

.offer__list_item {
  font-family: "Montserrat-Regular";
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  position: relative;
  margin-left: 15px;
}

.offer__list_item::before {
  content: "";
  height: 1px;
  width: 10px;
  background: linear-gradient(
    90deg,
    var(--color-yellow) 36.99%,
    var(--color-red) 100%
  );

  position: absolute;
  left: -15px;
  margin: auto;
  top: -3px;
  bottom: 0;
}

/* Footer */
.footer {
  padding: 41px 0 60px;
}

.footer__blocks {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.block {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.block__title {
  font-family: "Inter-Bold";
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-dark-grey);
}

.block__body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
}

.block-about .block__body {
  margin-left: -1px;
}

.block__body-item {
  font-family: "Inter-Regular";
}

.block-menu .block__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7px;
  row-gap: 10px;

  margin-left: -1px;
}

.block-menu .block__body-item {
  width: 89%;
}

.block__body-phone {
  margin-left: -1px;
  margin-bottom: 8px;

  font-family: "Inter-Medium";
  font-size: 16px;
  line-height: 19px;
}

.block__body-links {
  margin-bottom: 7px;

  display: flex;
  gap: 10px;
}

.block-contact .block__body {
  gap: 0;
}

.block__body-address {
  margin-left: -1px;
  margin-bottom: 50px;
}

.block__body-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.block__body-info {
  font-family: "Montserrat-Regular";
  font-size: 12px;
  line-height: 15px;

  margin-left: -1px;
}

.body-info__item-underline {
  text-decoration-line: underline;
}

/* Шары */
.ball {
  position: absolute;
}

.ball-purple-light {
  width: 259px;
  height: 259px;
  left: 258px;
  top: 107px;

  z-index: 1;
  border-radius: 50%;
  background: #833ab4;
  opacity: 0.5;
  /* filter: blur(196px); */
}

/*
Текст выше кружков
position: relative;
    z-index: 6;
*/
