:root {
  --color-light-text: #e4e5ea;
  --color-black: #0e1014;
  --color-yellow: #fcb045;
  --color-pink: #ff3f78;
  --color-red: #fd1d1d;
  --color-dark-red: #961a1a;
  --color-dark-grey: #656566;
  --color-blue: #4077f3;
  --color-violet: #833ab4;
}
